.button {

  // .button__more
  // .button__subcribe

  &__more,
  &__subcribe {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
    text-transform: uppercase;
  }

  // .button__subcribe

  &__subcribe {
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
  }
}